  <head>
    <title>Acrylic &mdash; India</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/aos.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">   
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0/default/snipcart.css" />
    {% include add.html %}
  </head>
