  <script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery-ui.js"></script>
  <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/aos.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
